/* Comienzo parte de contacto */


#tituloContacto{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
 
#fotoFondo{
    background-image: url(../img/casalogo2.png.png) ;
    background-position: center;

}
